*       text=auto
*.asp   text
*.cgi   text
*.c     text
*.cc    text
*.cnf   text
*.cpp   text
*.css   text
*.cu    text
*.cuh   text
*.cxx   text
*.el    text
*.f     text
*.F     text
*.For   text
*.f03   text
*.f08   text
*.f90   text
*.f95   text
*.h     text
*.hh    text
*.hpp   text
*.htm   text
*.html  text
*.hxx   text
*.gv    text
*.inc   text
*.java  text
*.js    text
*.m     text
*.mk    text
*.pl    text
*.pm    text
*.xml   text
*.sh    text
*.tlc   text
*.txt   text
*.viz   text

*.JPEG     binary
*.JPG      binary
*.PLPRJ    binary
*.PNG      binary
*.avi      binary
*.bmp      binary
*.btr      binary
*.db       binary
*.dll      binary
*.doc      binary
*.dot      binary
*.dsp      binary
*.dsw      binary
*.eps      binary
*.exe      binary
*.fig      binary
*.flv      binary
*.gif      binary
*.ico      binary
*.jar      binary
*.jpeg     binary
*.jpg      binary
*.mat      binary
*.mlapp    binary
*.mldatx   binary
*.mltbx    binary
*.mlx      binary
*.mpg      binary
*.odt      binary
*.pdf      binary
*.plprj    binary
*.png      binary
*.ppt      binary
*.prt      binary
*.sldd     binary
*.slddc    binary
*.slmx     binary
*.slslicex binary
*.sltx     binary
*.slx      binary
*.swf      binary
*.xls      binary
*.zip      binary
